@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/CSS/chitietscss/base.css" rel="stylesheet" />
    <link href="~/Content/CSS/chitietscss/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="header-logo-img"><img class="img-fluid" src="https://cdn2491.cdn-template-4s.com/media/logo/logo.png"></div>
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Trang chủ</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Giới thiệu</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Sản phẩm</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Kiến thức</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link">Liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="header__search">
                <input type="search" name="search" placeholder="Từ Khóa tìm kiếm">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="header__cart">
                Đặt hàng
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </header>
        <div class="bottom__header">
            <div class="bottom__header-div">
                <ul class="bottom__header-list">
                    <li class="bottom__header-item">
                        <a href="#" class="bottom__header-item-home-link">Trang chủ > &nbsp;</a>
                    </li>
                    <li class="bottom__header-item-">
                        <a href="#" class="bottom__header-item-home-link">Dầu gội > &nbsp;</a>
                    </li>
                    <li class="bottom__header-item-">
                        <DẦU href="#" class="bottom__header-item-listproduct-link">DẦU GỘI XÁ BIOTIN COLLAGEN PASSIORI TRỊ RỤNG</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-6">
                    <div class="detail__product-img"><img style="width:670px;border-radius: 10px;margin-top: 20px;" src="https://cdn2491.cdn-template-4s.com/thumbs/san-pham/dau_goi/biotin_collagen_keratin_2_thumb_500.webp"></div>
                </div>
                <div class="grid__column-4">
                    <div class="detail__product-general">
                        <div class="detail__product-general-title">
                            <span>DẦU GỘI XẢ BIOTIN COLLAGEN PASIORI TRỊ RỤNG VÀ PHỤC HỒI SIÊU MỀM MƯỢT 1000ML (Lớn)</span>
                        </div>
                        <div class="detail__product-general-rating">
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                        </div>
                        <div class="detail__product-general-price">
                            <span class="detail__product-general-price-current">250,000 đ</span>
                            <span class="detail__product-general-price-old">300,000 đ</span>
                        </div>
                        <div class="detail__product-general-list">
                            <h3>Danh mục: &nbsp;Dầu gội</h3>
                        </div>
                        <div class="detail__product-general-size">
                            <span>Kích thước:</span>
                            <br>
                            <button class="detail__product-general-item-size">Lớn</button>
                            <button class="detail__product-general-item-size">Vừa</button>
                            <br>
                        </div>
                        <div class="detail__product-general-quantity">
                            <span class="detail__product-general-quantity-add-minus">-</span>
                            <span>1</span>
                            <span class="detail__product-general-quantity-add-minus">+</span>
                        </div>
                        <div class="detail__product-general-addcart">
                            <span>Thêm giỏ hàng</span>
                        </div>
                    </div>
                    <div class="detail__product-general-policy">
                        <div class="detail__product-policy">
                            <span>Chính sách bán hàng:</span>
                        </div>
                        <div class="detail__product-item-icon-delivery">
                            <i class="fa-solid fa-truck"></i>
                            <span>Freeship Đơn Từ 200.000đ</span>
                        </div>
                        <div class="detail__product-item-icon-exchange">
                            <i class="fa-brands fa-dropbox"></i>
                            <span>Đổi Trả Trong 30 Ngày</span>
                        </div>
                        <div class="detail__product-item-icon-check">
                            <i class="fa-brands fa-searchengin"></i>
                            <span>Đồng Kiểm Khi Nhận Hàng</span>
                        </div>
                    </div>
                    <div class="detail__product-prominent">
                        <p>Đặc điểm nổi bật</p>
                        <span>Dầu gội đầu Davines Purifying Shampoo đậm đặc giúp làm sạch da đầu một cách dịu nhẹ, đồng thời cung cấp các dưỡng chất giúp bảo vệ và nuôi dưỡng tóc chắc khỏe</span>
                    </div>
                </div>
            </div>
            <div class="detail__product-item-img-set">
                <div class="detail__product-item-img">
                    <img src="https://cdn2491.cdn-template-4s.com/thumbs/san-pham/dau_goi/biotin_collagen_keratin_2_thumb_150.webp">
                </div>
                <div class="detail__product-item-img">
                    <img src="https://cdn2491.cdn-template-4s.com/thumbs/san-pham/dau_goi/biotin_collagen_keratin_3_thumb_150.webp">
                </div>
                <div class="detail__product-item-img">
                    <img src="https://cdn2491.cdn-template-4s.com/thumbs/san-pham/dau_goi/biotin_collagen_keratin_thumb_150.webp">
                </div>
            </div>
            <hr>
            <div class="detail__product-text">
                <span>Chi tiết sản phẩm</span>
                <h4>Dầu gội đầu Davines Purifying Shampoo đậm đặc giúp làm sạch da đầu một cách dịu nhẹ, đồng thời cung cấp các dưỡng chất giúp bảo vệ và nuôi dưỡng tóc chắc khỏe</h4>
                <h4>Đặc biệt trong thành phần của loại dầu gội đầu này cho chứa hợp chất Selen Sulphit – một chất chống gàu hiệu quả được sử dụng phổ biến trong các loại dược phẩm có tác dụng chống và điều trị gàu.</h4>
                <h4>Ngoài ra sản phẩm còn chứa Selen disulfua một chất kháng khẩn cực tốt và Phytoceutical bồ công anh rất giàu dưỡng chất và góp phần chống oxy hóa cho tóc và da đầu.</h4>
                <h4>Sản phẩm dầu gội Davines Purifying Shampoo không chứa chất bảo quản paraben, tuyệt đối không gây kích ứng hay khô da, rất an toàn cho người sử dụng.</h4>
                <span style="font-size: 20px;">Thông tin sản phẩm</span>
                <ul class="detail__product-information">
                    <li>Dung tích: 1000ml</li>
                    <li>Hạn sử dụng: 3 năm (xem trên vỏ hộp)</li>
                    <li>Mã vạch:8004608236603</li>
                </ul>
                <span style="font-size: 20px;">Hướng dẫn sử dụng:</span>
                <ul class="detail__product-information">
                    <li>Làm ướt tóc và da đầu</li>
                    <li>Lấy một lượng dầu vừa đủ thoa đều lên da đầu</li>
                    <li>Xoa bóp nhẹ nhàng để tạo bọt, nên tập trung chủ yếu vào phần bị gàu nhiều nhất</li>
                    <li>Để một vài phút và xả sạch lại với nước</li>
                </ul>
                <span style="font-size: 20px;">Lưu ý: Cường độ sử dụng:</span>
                <ul class="detail__product-information">
                    <li>Trị liệu chuyên sâu: 2 lần/ tuần, tối đa sử dụng trong 3 tuần</li>
                    <li>Trị liệu duy trì: 1 lần/tuần, sử dụng trong 6 tuần</li>
                    <li>Có thể ngừng trị liệu duy trì trước 6 tuần nếu vấn đề về gàu đã được giải quyết</li>
                </ul>
                <span style="font-size: 20px;">Lưu ý: Cường độ sử dụng:</span>
                <ul class="detail__product-information">
                    <li>Cửa hàng bán dầu gội Davines Purifying chính hãng</li>
                    <li>Dầu gội Davines Purifying trị gàu giá rẻ</li>
                    <li>Dầu gội Davines Purifying ở đâu</li>
                    <li>Dầu gội Davines Purifying tốt, an toàn</li>
                    <li>Dầu gội Davines Purifying sử dụng thế nào</li>
                    <li>Dầu gội trị gàu cho mọi loại tóc</li>
                    <li>Shop bán dầu gội trị gàu Purifying Shampoo</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</body>
</body>
</html>


