@{
    Layout = "~/Views/Shared/GioiThieuLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
</head>
<body>
    <header class="header-nav">
        <div class="grid-content">
            <nav class="">
                <div class="nav-ui">
                    <a href="" class="nav-text">Trang chủ > </a>
                    <a href="" class="nav-text">Tin tức</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="grid-content">
            <div class="grid__row">
                <div class="grid__col3">
                    <nav class="category">
                        <h2 class="category__heading">DANH MỤC</h2>
                        <ul class="category-list">
                            <li class="category-item">
                                <a href="" class="category-item__link">Tin tức</a>
                            </li>
                            <li class="category-item">
                                <a href="" class="category-item__link">Giới thiệu</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="category">
                        <h2 class="category__heading">Bài viết mới nhất</h2>
                        <ul class="category-list">
                            <li class="category-item" style="display:flex">
                                <div class="">
                                    <a href="" class="category-item__link" style="">
                                        <img class="smol-img" src="https://cdn2491.cdn-template-4s.com/thumbs/dau-goi-thao-duoc-gung-dua-huu-co-co-cay-hoa-la-co-tot-khong_79c79953ac9a49ec95cc2871e33570b8_master_thumb_150.webp" />
                                    </a>
                                </div>
                                <div class="">
                                    <a href="" class="category-item__link article-text" style="">
                                        5 CÁCH TRỊ GÀU BẰNG DẦU DỪA CỰC HIỆU<br> QUẢ ...
                                    </a>
                                    <div class="written-date">24/05/2024</div>
                                </div>
                            </li>
                            <li class="category-item" style="display:flex">
                                <div class="">
                                    <a href="" class="category-item__link" style="">
                                        <img class="smol-img" src="https://cdn2491.cdn-template-4s.com/thumbs/164c6ba610f2d6ac8fe3_thumb_150.webp" />
                                    </a>
                                </div>
                                <div class="">
                                    <a href="" class="category-item__link article-text" style="">
                                        Tìm hiểu sơ lược về<br> dầu gội thảo mộc
                                    </a>
                                    <div class="written-date">24/05/2024</div>
                                </div>
                            </li>
                            <li class="category-item" style="display:flex">
                                <div class="">
                                    <a href="" class="category-item__link" style="">
                                        <img class="smol-img" src="https://cdn2491.cdn-template-4s.com/thumbs/maxresdefault_1df9892e56_thumb_150.webp" />
                                    </a>
                                </div>
                                <div class="">
                                    <a href="" class="category-item__link article-text" style="">
                                        Lợi ích của việc sử<br> dụng dầu gội thảo ...
                                    </a>
                                    <div class="written-date">24/05/2024</div>
                                </div>
                            </li>
                            <li class="category-item" style="display:flex">
                                <div class="">
                                    <a href="" class="category-item__link" style="">
                                        <img class="smol-img" src="https://cdn2491.cdn-template-4s.com/thumbs/dantri-edit-1310docx-1665660586146_thumb_150.webp" />
                                    </a>
                                </div>
                                <div class="">
                                    <a href="" class="category-item__link article-text" style="">
                                        Dầu gội dược liệu cho<br> nam giúp dưỡng tóc, ...
                                    </a>
                                    <div class="written-date">24/05/2024</div>
                                </div>
                            </li>
                            <li class="category-item" style="display:flex">
                                <div class="">
                                    <a href="" class="category-item__link" style="">
                                        <img class="smol-img" src="https://cdn2491.cdn-template-4s.com/thumbs/cach-tri-ngua-da-dau-hieu-qua-tai-nha_thumb_150.webp" />
                                    </a>
                                </div>
                                <div class="">
                                    <a href="" class="category-item__link article-text" style="">
                                        3 CÁCH TỰ NHIÊN<br> GIÚP BẠN TRỊ CHỨNG<br> NGỨA ...
                                    </a>
                                    <div class="written-date">24/05/2024</div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="grid__col9">
                    <div class="home-product">
                        <div class="grid__row">
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/dau-goi-thao-duoc-gung-dua-huu-co-co-cay-hoa-la-co-tot-khong_79c79953ac9a49ec95cc2871e33570b8_master_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">5 CÁCH TRỊ GÀU BẰNG DẦU DỪA CỰC HIỆU QUẢ TẠI ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/164c6ba610f2d6ac8fe3_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">Tìm hiểu sơ lược về dầu gội thảo mộc</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/maxresdefault_1df9892e56_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">Lợi ích của việc sử dụng dầu gội thảo dược trị ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/dantri-edit-1310docx-1665660586146_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">Dầu gội dược liệu cho nam giúp dưỡng tóc, da ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/cach-tri-ngua-da-dau-hieu-qua-tai-nha_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">3 CÁCH TỰ NHIÊN GIÚP BẠN TRỊ CHỨNG NGỨA DA ĐẦU ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/cach-tri-gau-hieu-qua-tai-nha-bang-gung-tuoi_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">THOÁT KHỎI NỖI SỢ MANG TÊN “GÀU” CHỈ BẰNG MỘT ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/ng-dua-huu-co-co-cay-hoa-la-lam-sach-gau-hieu-qau-chi-sau-7-ngay_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">“BỎ TÚI” NGAY 5 BÍ QUYẾT NGĂN NGỪA GÀU HIỆU ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/164c6ba610f2d6ac8fe3_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">Tìm hiểu sơ lược về dầu gội thảo mộc</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/dua-huu-co-co-cay-hoa-la-lam-sach-gau-hieu-qau-chi-sau-mot-tuan_f_thumb_500.webp);"></div>
                                        <h5 class="home-product-item__name article-text">4 THÓI QUEN CẦN TRÁNH NẾU KHÔNG MUỐN TÌNH ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/gung-dua-huu-co-co-cay-hoa-la-lam-sach-gau-hieu-qau-chi-sau-mot-tuan_f_39cc893a2aeb40a99cda274678c08dd0_grande_thumb_500.jpg);"></div>
                                        <h5 class="home-product-item__name article-text">BỊ BỆNH GÀU NÊN ĂN GÌ ĐỂ NHANH HẾT GÀU?</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__col3">
                                <a href="" style="text-decoration: none;">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cdn2491.cdn-template-4s.com/thumbs/rectangle-22-copy-3_thumb_500.jpg);"></div>
                                        <h5 class="home-product-item__name article-text">Tổng hợp hơn 30 cách kết hợp bồ kết và các ...</h5>
                                        <div class="home-product-item__name written-date">24/05/2024</div>
                                        <div class="home-product-item__name see-more">Xem thêm</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
